{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "tabWidth": 2,
  "printWidth": 120,
  "insertPragma": false,
  "jsxSingleQuote": false,
  "useTabs": false,
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "bracketSameLine": true
}
