.block-top-home {
  display: grid;
  grid-template-columns: 1fr 3fr auto;
  grid-column-gap: 10px;
  position: relative;
}

.grid-item {
  img {
    border-radius: 10px;
    height: 120px;
    width: 100%;
  }
}

.grid-item:nth-child(3) {
  display: grid;
  grid-template-rows: auto;
  height: 100%;
  grid-row-gap: 10px;
}
