.navbar {
  display: flex;
  align-items: center;
  height: 64px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #d70018;

  .nav-link {
    display: flex;
    align-items: center;
  }
}

.title {
  font-size: 12px;
  text-align: start;
}
