.banner-top-head {
  background-color: #e9efff;
  max-height: 40px;
  overflow: hidden;
  padding: 5px;
}

.banner {
  img {
    border-radius: 50px;
    display: block;
    margin: auto;
    min-height: 30px;
    margin: 0 37.5px;
  }
}

.banner-wrapper {
  display: flex;
}
